functions/DAlphaBall.gcc
functions/dssp
functions/__pycache__/__init__.cpython-310.pyc
functions/__pycache__/biopython_utils.cpython-310.pyc
functions/__pycache__/colabdesign_utils.cpython-310.pyc
functions/__pycache__/generic_utils.cpython-310.pyc
functions/__pycache__/pyrosetta_utils.cpython-310.pyc
